<div id='map' class='dark'></div>

<div class="filter-container">
  <div class='filter-ctrl'>
    <input class='filter-input' type='text' name='filter' placeholder='Filter by HUC' />
  </div>
  <div class='filter-options'>&nbsp;&nbsp;&nbsp;8 digit HUC code, ex. 10190003</div>
</div>

<div class="filter-container">
  <div class='filter-ctrl'>
    <input class='filter-input' type='text' name='filter' placeholder='Filter by Station Type' />
  </div>
  <div class='filter-options'>&nbsp;&nbsp;&nbsp;ex. Stream - all options</div>
</div>

<div class="filter-container">
  <div class='filter-ctrl'>
    <input class='filter-input' type='text' name='filter' placeholder='Filter by 3-digit County Code' />
  </div>
  <div class='filter-options'>&nbsp;&nbsp;&nbsp;ex. 005 for Arapahoe County, list</div>
  <!-- https://en.wikipedia.org/wiki/List_of_counties_in_Colorado -->
</div>

<div class="filter-container">
  <div class='filter-ctrl'>
    <input class='filter-input' type='text' name='filter' placeholder='Filter by Station ID' />
  </div>
  <div class='filter-options'>&nbsp;&nbsp;&nbsp;Agency Site ID ex. USGS-09251500</div>
</div>

<div class="search-button-container">
  <button class="btn rounded">Search for Stations</button>
</div>


<script>
  mapboxgl.accessToken = 'pk.eyJ1IjoiYW1qMTMzIiwiYSI6ImNqZmoyNDA1NzBkc3cycXFveTVxNDF6ZWkifQ.Qxx-FLv74uWIPQq1fmpwyA';

  var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/amj133/cjfrm7b812kpt2rqq2w1xm1v5',
    center: [-106, 39],
    zoom: 6
  });

  map.addControl(new mapboxgl.NavigationControl());

  // getEvents(map)

   function getEvents(map) {
     $.ajax({
       dataType: 'text',
       url: '/api/v1/stations?huc_code=14050003',
       success:function(events) {
         var stations = JSON.parse(events);
         map.addLayer({
           "id": "stations",
           "type": "symbol",
           "source": {
             "type": "geojson",
             "data": {
               "type": "FeatureCollection",
               "features": stations
             }
           },
           "layout": {
             "icon-image": "circle-11",
             "icon-allow-overlap": true
           }
         });
         // map.featureLayer.setGeoJSON({
         //   type: "FeatureCollection",
         //   features: stations
         // });
       },
       error:function() {
         alert("Could not load the events");
       }
     });
   }


  //------------------------------------------------

  map.on('click', function(e) {
  var features = map.queryRenderedFeatures(e.point, {
    layers: ['stations']
  });

  if (!features.length) {
    return;
  }

  var feature = features[0];

  var popup = new mapboxgl.Popup({ offset: [0, -15] })
    .setLngLat(feature.geometry.coordinates)
    .setHTML('<h3>' + feature.properties.name
             + '</h3><p> ID: ' + feature.properties.id
             + '</h3><p> Type: ' + feature.properties.type
             + '</h3><p> Watershed: ' + feature.properties.drainage_area + " " + feature.properties.drainage_area_units
             + '</h3><p> Coordinates: ' + feature.geometry.coordinates[1] + feature.geometry.coordinates[0]
             + '</p>')
    .setLngLat(feature.geometry.coordinates)
    .addTo(map);
  });

  map.on('mouseenter', 'stations', function () {
     map.getCanvas().style.cursor = 'pointer';
  });

  map.on('mouseleave', 'stations', function () {
      map.getCanvas().style.cursor = '';
  });

</script>
