<div class="max-width-4 mx-auto top-90">
  <div class="clearfix">
    <div class="p2 bg-white border rounded">
      <%= link_to "Sign up!", register_path %><br>
      <%= link_to "Sign in", login_path %><br>
      <%= link_to "Sign in with Google", "/auth/google" %>
    </div>
  </div>
</div>
