<%= render partial: 'layouts/banner_1' %>

<div class="welcome-header">
  <h3>Welcome to StreamFinder</h3>
</div>

<div class="welcome-container">
  <div class="p2 bg-white border rounded my2 mx-auto welcome-text">
    <p>StreamFinder is an application geared towards environmental consultants and scientists looking to find water quality monitoring stations throughout Colorado.  The station data is retrieved from the <a href="https://www.waterqualitydata.us/webservices_documentation/" target="_blank">Water Quality Portal Web Service</a> and made available in an easy to navigate map interface.  By adding monitoring stations to a particular project, users can view recent data from the station (streamflow, water quality results, etc.) and search for specific historical data.  Historical data is provided by way of the USGS Water Data Web Service.</p>
  </div>

</div>

<div class="map-search-container">
  <div class="map-search-gif">
  </div>
</div>

<div class="p2 bg-white border rounded my2 mx-auto welcome-text">
  <p>
    The map below shows the major western water districts identified by John Wesley Powell in 1890.  Powell was a civil war veteran and early American explorer of the western territories (led the first documented passage through the Grand Canyon).  Powell argued to congress that future western states should be divided by these districts, stating: "Gentlemen, you are piling up a heritage of conflict and litigation over water rights, for there is not sufficient water to supply the land."  This impressive foresight provides an interesting thought experiment about well planned environmental regulation and what it means to be a citizen of a state.
  </p>
</div>

<div style="display:flex; justify-content:center;">
  <div class="p2 bg-white border rounded my2 mx-auto welcome-image">
  </div>
</div>
