body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  background-image: image-url('topography.png');
}

.register {
  background-color: #93cbb3;
  border: none;
  color: white;
  padding: 13px 32px;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.register:hover {
  background-color: #348285;
  color: white;
}

.login-options {
  display: flex;
  justify-content: flex-end;
  margin-right: 80px;
}

.map-search-container {
  margin-top: 3em;
  display: flex;
  justify-content: center;
}

.map-search-gif {
  width: 800px;
  height: 420px;
  background-image: url('search-gif.gif');
  background-size: auto;
  background-repeat: no-repeat;
}

///////

.flash-container {
  width: 220px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 42%;
  top: 5%;
  background-color: #ffffff;
}

// .top-nav {
//   background-color: #A4AC96;
//   height: 55px;
// }

.mid-nav {
  // background-image: image-url('stream-painting.jpg');
  // background-position: 40%42.5%;
  background-image: url("https://images.unsplash.com/photo-1492461662041-632aa92d5586?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5785a687fe6688440dceb5eb528d193d&auto=format&fit=crop&w=2089&q=80");
  background-position: 40%60%;
  background-size: cover;
  height: 240px;
  border-bottom: rgb(63, 71, 74) solid 2px;
}

.bottom-nav {
  background-color: #313628;
  height: 50px;
}

.login-links {
  font-family: 'Ubuntu', sans-serif;
  margin-top: 4px;
  margin-left: 30px;
  a {
    text-decoration: none;
    color: #595358;
    font-style: normal;
    font-size: 12px;
  }
}

.logout-link {
  display: flex;
  justify-content: flex-end;
  margin-right: 25px;
  margin-top: 8px;
  a {
    text-decoration: none;
    color: #595358;
    font-style: normal;
    font-size: 13px;
  }
}

.sign-up {
  background-color: rgb(186, 179, 136);
  height: 200px;
  width: 400px;
}

.nav-buttons-container {
  color: #8a8188;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  a {
    text-decoration: none;
    color: #8a8188;
  }
}

.bottom-banner {
  top: 500px;
  width: 100%;
  height: 50px;
  background-color: #313628;
}
