.sign-in {
  width: 260px;
  background-color: rgb(186, 179, 136);
}

.session-entry {
  display: flex;
  justify-content: space-between;
  width: 210px;
  height: 20px;
}

.sign-in-button {
  display: flex;
  justify-content: center;
}
