.title-container {
  display: flex;
  justify-content: center;
}

.stations-index-title {
  margin-top: 2em;
}

.index-filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(186, 179, 136, 0.4);
  height: 130px;
  width: 380px;
  margin-top: 2em;
}

.filter-results {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 300px;
  background-color: rgba(131, 159, 159, 0.35);
  margin-top: 2.5em;
}

.huc-map-container {
  display: flex;
  justify-content: center;
}

.co-huc-map {
  display: flex;
  justify-content: center;
  margin-top: 3em;
  margin-bottom: 5%;
  border: rgb(79, 70, 85) solid 2px;
  height: 700px;
  width: 720px;
  background-image: url("https://www.nrcs.usda.gov/Internet/FSE_MEDIA/nrcseprd1321428.jpg");
  background-size: 720px 700px;
}

.stations-index-table-container {
  width: auto;
  display: flex;
  justify-content: center;
  margin-top: 3em;
  table td, table th {
    border: 1px solid rgb(110, 110, 117);
  }
  table {
    border: 3px solid gray;
    border-collapse: separate;
    border-spacing: 0;
    margin-right: 150px;
    margin-left: 150px;
    thead, td { color: darkslategrey; }
  }
  a {
    color: rgb(60, 79, 130);
    text-decoration: none;
  }
}

.stations-index-table-header {
  background-color: rgba(133, 130, 98, 0.5);
  th {
    height: 40px;
  }
}

.station-name {
  width: 125px;
  overflow: scroll;
}

.station-description {
  max-width: 300px;
  overflow: scroll;
}

.stations-index-table-body {
  background-color: rgba(164, 172, 150, 0.55);
}

.stations-index-drainage {
  width: 125px;
}
