.co-huc-map {
  margin-left: 23%;
  margin-top: 5%;
  margin-bottom: 5%;
  border: rgb(79, 70, 85) solid 2px;
  height: 700px;
  width: 720px;
  background-image: url("https://www.nrcs.usda.gov/Internet/FSE_MEDIA/nrcseprd1321428.jpg");
  background-size: 720px 700px;
}

.index-filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(186, 179, 136);
  height: 130px;
  width: 400px;
  margin-top: 3em;
}

.filter-results {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 300px;
  background-color: rgb(131, 159, 159);
}

.stations-index-table-container {
  width: 85%;
  margin-left: 8%;
}

.station-name {
  width: 125px;
  overflow: scroll;
}

.stations-index-table-header {
  background-color: rgb(133, 130, 98);
}

.station-description {
  max-width: 300px;
  overflow: scroll;
}

.stations-index-table-body {
  background-color: #A4AC96;
}

.stations-index-drainage {
  width: 125px;
}
