.station-show-info {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  height: 200px;
  width: 300px;
  background-color: rgb(131, 159, 159);
}

.streamflow-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 90px;
  right: 75%;
  background-color: rgb(181, 213, 183);
  width: 740px;
  height: auto;
  margin-bottom: 50px;
  .chart-title {
    margin-bottom: 10px;
  }
}
