.mid-nav-2 {
  background-image: image-url('stream-painting.jpg');
  background-position: 40%80.5%;
  height: 200px;
  border-bottom: rgb(63, 71, 74) solid 2px;
}

.mid-nav-stream {
  background-image: image-url('stream-painting.jpg');
  background-position: 40%92.5%;
  height: 200px;
  border-bottom: rgb(63, 71, 74) solid 2px;
}

.show-info {
  margin-top: 2em;
  width: 80%;
  background-color: rgba(108, 158, 155, 0.25);
}

.current-projects {
  margin-top: 2em;
  width: 80%;
  background-color: rgba(142, 189, 186, 0.25);
  margin-bottom: 4em;
  padding-bottom: 2em;
}

.projects-header {
  display: flex;
  justify-content: flex-start;
  margin-left: 2em;
}

.project-info-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  a {
    color: rgb(60, 79, 130);
    text-decoration: none;
  }
}

.project-details {
  width: 240px;
  display: flex;
  flex-direction: column;
  background-color: rgba(108, 158, 155, 0.40);
  padding: 10px;
  margin-top: 1.5em;
  border: lightgray 3.5px solid;
}

.project-details:hover {
  transform: scale(1.05);
}

.delete-project {
  background-color: rgb(199, 174, 157);
  border: none;
  color: white;
  padding: 8px 20px;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.delete-project:hover {
  background-color: rgb(166, 132, 109);
  color: white;
}
