.new-user-entry {
  display: flex;
  justify-content: space-between;
  width: 310px;
  height: 20px;
}

.register-labels {
  margin-bottom: 6px;
  margin-top: 20px;
}

.register-form {
  width: 400px;
}
