---
http_interactions:
- request:
    method: get
    uri: http://waterservices.usgs.gov/nwis/iv?format=json&period=P1D&site=01646500
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://waterservices.usgs.gov/nwis/iv?format=json&period=P1D&site=01646500
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>301 Moved Permanently</title>
        </head><body>
        <h1>Moved Permanently</h1>
        <p>The document has moved <a href="https://waterservices.usgs.gov/nwis/iv?format=json&amp;period=P1D&amp;site=01646500">here</a>.</p>
        </body></html>
  recorded_at: Sat, 16 Jun 2018 16:21:07 GMT
- request:
    method: get
    uri: https://waterservices.usgs.gov/nwis/iv?format=json&period=P1D&site=01646500
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://waterservices.usgs.gov/nwis/iv/?format=json&period=P1D&site=01646500
      Content-Language:
      - en-US
      Content-Type:
      - text/html;charset=ISO-8859-1
    body:
      encoding: UTF-8
      string: "<html>\r\n<head><title>Document moved</title></head>\r\n<body><h1>Document
        moved</h1>\r\nThis document has moved <a href=\"http://127.0.0.1:8080/nwis/iv/?format=json&amp;period=P1D&amp;site=01646500\">here</a>.<p>\r\n</body>\r\n</html>\r\n"
  recorded_at: Sat, 16 Jun 2018 16:21:07 GMT
- request:
    method: get
    uri: https://waterservices.usgs.gov/nwis/iv/?format=json&period=P1D&site=01646500
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"name":"ns1:timeSeriesResponseType","declaredType":"org.cuahsi.waterml.TimeSeriesResponseType","scope":"javax.xml.bind.JAXBElement$GlobalScope","value":{"queryInfo":{"queryURL":"http://waterservices.usgs.gov/nwis/iv/format=json&period=P1D&site=01646500","criteria":{"locationParam":"[ALL:01646500]","variableParam":"ALL","parameter":[]},"note":[{"value":"[ALL:01646500]","title":"filter:sites"},{"value":"[mode=PERIOD,
        period=P1D, modifiedSince=null]","title":"filter:timeRange"},{"value":"methodIds=[ALL]","title":"filter:methodId"},{"value":"2018-06-16T16:21:10.796Z","title":"requestDT"},{"value":"48072db0-7181-11e8-aa31-6cae8b6642ea","title":"requestId"},{"value":"Provisional
        data are subject to revision. Go to http://waterdata.usgs.gov/nwis/help/?provisional
        for more information.","title":"disclaimer"},{"value":"sdas01","title":"server"}]},"timeSeries":[{"sourceInfo":{"siteName":"POTOMAC
        RIVER NEAR WASH, DC LITTLE FALLS PUMP STA","siteCode":[{"value":"01646500","network":"NWIS","agencyCode":"USGS"}],"timeZoneInfo":{"defaultTimeZone":{"zoneOffset":"-05:00","zoneAbbreviation":"EST"},"daylightSavingsTimeZone":{"zoneOffset":"-04:00","zoneAbbreviation":"EDT"},"siteUsesDaylightSavingsTime":false},"geoLocation":{"geogLocation":{"srs":"EPSG:4326","latitude":38.94977778,"longitude":-77.12763889},"localSiteXY":[]},"note":[],"siteType":[],"siteProperty":[{"value":"ST","name":"siteTypeCd"},{"value":"02070008","name":"hucCd"},{"value":"24","name":"stateCd"},{"value":"24031","name":"countyCd"}]},"variable":{"variableCode":[{"value":"00010","network":"NWIS","vocabulary":"NWIS:UnitValues","variableID":45807042,"default":true}],"variableName":"Temperature,
        water, &#176;C","variableDescription":"Temperature, water, degrees Celsius","valueType":"Derived
        Value","unit":{"unitCode":"deg C"},"options":{"option":[{"name":"Statistic","optionCode":"00000"}]},"note":[],"noDataValue":-999999.0,"variableProperty":[],"oid":"45807042"},"values":[{"value":[{"value":"21.3","qualifiers":["P"],"dateTime":"2018-06-15T11:30:00.000-05:00"},{"value":"21.3","qualifiers":["P"],"dateTime":"2018-06-15T11:45:00.000-05:00"},{"value":"21.4","qualifiers":["P"],"dateTime":"2018-06-15T12:00:00.000-05:00"},{"value":"21.4","qualifiers":["P"],"dateTime":"2018-06-15T12:15:00.000-05:00"},{"value":"21.5","qualifiers":["P"],"dateTime":"2018-06-15T12:30:00.000-05:00"},{"value":"21.6","qualifiers":["P"],"dateTime":"2018-06-15T12:45:00.000-05:00"},{"value":"21.7","qualifiers":["P"],"dateTime":"2018-06-15T13:00:00.000-0[...]
