---
http_interactions:
- request:
    method: get
    uri: https://www.waterqualitydata.us/data/Station/search?huc=14080201&statecode=US:08
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=station.xml
      Total-Site-Count:
      - '66'
      Nwis-Site-Count:
      - '14'
      Storet-Site-Count:
      - '52'
      Content-Type:
      - application/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: '<?xml version="1.0" encoding="UTF-8"?><WQX xmlns=''http://qwwebservices.usgs.gov/schemas/WQX-Outbound/2_0/''
        xmlns:xsi=''http://www.w3.org/2001/XMLSchema-instance'' xsi:schemaLocation=''http://qwwebservices.usgs.gov/schemas/WQX-Outbound/2_0/
        http://qwwebservices.usgs.gov/schemas/WQX-Outbound/2_0/index.xsd''><Organization><OrganizationDescription><OrganizationIdentifier>USGS-CO</OrganizationIdentifier><OrganizationFormalName>USGS
        Colorado Water Science Center</OrganizationFormalName></OrganizationDescription><MonitoringLocation><MonitoringLocationIdentity><MonitoringLocationIdentifier>USGS-370410108583701</MonitoringLocationIdentifier><MonitoringLocationName>NB03302025CDC</MonitoringLocationName><MonitoringLocationTypeName>Well</MonitoringLocationTypeName><HUCEightDigitCode>14080201</HUCEightDigitCode></MonitoringLocationIdentity><MonitoringLocationGeospatial><LatitudeMeasure>37.0705516</LatitudeMeasure><LongitudeMeasure>-108.9781596</LongitudeMeasure><HorizontalAccuracyMeasure><MeasureValue>1</MeasureValue><MeasureUnitCode>seconds</MeasureUnitCode></HorizontalAccuracyMeasure><HorizontalCollectionMethodName>Interpolated
        from MAP.</HorizontalCollectionMethodName><HorizontalCoordinateReferenceSystemDatumName>NAD83</HorizontalCoordinateReferenceSystemDatumName><VerticalMeasure><MeasureValue>4900.00</MeasureValue><MeasureUnitCode>feet</MeasureUnitCode></VerticalMeasure><VerticalAccuracyMeasure><MeasureValue>10</MeasureValue><MeasureUnitCode>feet</MeasureUnitCode></VerticalAccuracyMeasure><VerticalCollectionMethodName>Interpolated
        from topographic map.</VerticalCollectionMethodName><VerticalCoordinateReferenceSystemDatumName>NGVD29</VerticalCoordinateReferenceSystemDatumName><CountryCode>US</CountryCode><StateCode>08</StateCode><CountyCode>083</CountyCode></MonitoringLocationGeospatial><WellInformation><AquiferName>Colorado
        Plateaus aquifers</AquiferName><FormationTypeText>Dakota Sandstone or Formation
        or Group</FormationTypeText><ConstructionDateText>19310101</ConstructionDateText><WellDepthMeasure><MeasureValue>250</MeasureValue><MeasureUnitCode>ft</MeasureUnitCode></WellDepthMeasure></WellInformation></MonitoringLocation><MonitoringLocation><MonitoringLocationIdentity><MonitoringLocationIdentifier>USGS-370518108540601</MonitoringLocationIdentifier><MonitoringLocationName>NB03301922ADCB   A-4</MonitoringLocationName><MonitoringLocationTypeName>Well</MonitoringLocationTypeName><HUCEightDigitCode>14080201</HUCEightDigitCode></MonitoringLocationIdentity><MonitoringLocationGeospatial><LatitudeMeasure>37.0919396</LatitudeMeasure><LongitudeMeasure>-108.8956571</LongitudeMeasure><SourceMapScaleNumeric>24000</SourceMapScaleNumeric><HorizontalAccuracyMeasure><MeasureValue>1</MeasureValue><MeasureUnitCode>seconds</MeasureUnitCode></HorizontalAccuracyMeasure><HorizontalCollectionMethodName>Interpolated
        from MAP.</HorizontalCollectionMethodName><HorizontalCoordinateReferenceSystemDatumName>NAD83</HorizontalCoordinateReferenceSystemDatumName><VerticalMeasure><MeasureValue>5220.00</MeasureValue><MeasureUnitCode>feet</MeasureUnitCode></VerticalMeasure><VerticalAccuracyMeasure><MeasureValue>10</MeasureValue><MeasureUnitCode>feet</MeasureUnitCode></VerticalAccuracyMeasure><VerticalCollectionMethodName>Interpolated
        from topographic map.</VerticalCollectionMethodName><VerticalCoordinateReferenceSystemDatumName>NGVD29</VerticalCoordinateReferenceSystemDatumName><CountryCode>US</CountryCode><StateCode>08</StateCode><CountyCode>083</CountyCode></MonitoringLocationGeospatial><WellInformation><AquiferName>Colorado
        Plateaus aquifers</AquiferName><FormationTypeText>Dakota Sandstone or Formation
        or Group</FormationTypeText><AquiferTypeName>Confined single aquifer</AquiferTypeName><ConstructionDateText>1935</ConstructionDateText><WellDepthMeasure><MeasureValue>665</MeasureValue><MeasureUnitCode>ft</MeasureUnitCode></WellDepthMeasure><WellHoleDepthMeasure><MeasureValue>665</MeasureValue><MeasureUnitCode>ft</MeasureUnitCode></WellHoleDepthMeasure></WellInformation></MonitoringLocation><MonitoringLocation><MonitoringLocationIdentity><MonitoringLocationIdentifier>USGS-370544108542801</MonitoringLocationIdentifier><MonitoringLocationName>NB03301922BBCA</MonitoringLocationName><MonitoringLocationTypeName>Well</MonitoringLocationTypeName><HUCEightDigitCode>14080201</HUCEightDigitCode></MonitoringLocationIdentity><MonitoringLocationGeospatial><LatitudeM[...]
