---
http_interactions:
- request:
    method: get
    uri: https://www.waterqualitydata.us/data/Station/search?siteid=USGS-09251500&statecode=US:08
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=station.xml
      Total-Site-Count:
      - '1'
      Nwis-Site-Count:
      - '1'
      Content-Type:
      - application/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><WQX xmlns='http://qwwebservices.usgs.gov/schemas/WQX-Outbound/2_0/'
        xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance' xsi:schemaLocation='http://qwwebservices.usgs.gov/schemas/WQX-Outbound/2_0/
        http://qwwebservices.usgs.gov/schemas/WQX-Outbound/2_0/index.xsd'><Organization><OrganizationDescription><OrganizationIdentifier>USGS-CO</OrganizationIdentifier><OrganizationFormalName>USGS
        Colorado Water Science Center</OrganizationFormalName></OrganizationDescription><MonitoringLocation><MonitoringLocationIdentity><MonitoringLocationIdentifier>USGS-09251500</MonitoringLocationIdentifier><MonitoringLocationName>MF
        LITTLE SNAKE RIVER NEAR BATTLE CREEK, CO.</MonitoringLocationName><MonitoringLocationTypeName>Stream</MonitoringLocationTypeName><HUCEightDigitCode>14050003</HUCEightDigitCode><DrainageAreaMeasure><MeasureValue>120</MeasureValue><MeasureUnitCode>sq
        mi</MeasureUnitCode></DrainageAreaMeasure></MonitoringLocationIdentity><MonitoringLocationGeospatial><LatitudeMeasure>40.9905222</LatitudeMeasure><LongitudeMeasure>-107.0442186</LongitudeMeasure><HorizontalAccuracyMeasure><MeasureValue>5</MeasureValue><MeasureUnitCode>seconds</MeasureUnitCode></HorizontalAccuracyMeasure><HorizontalCollectionMethodName>Interpolated
        from MAP.</HorizontalCollectionMethodName><HorizontalCoordinateReferenceSystemDatumName>NAD83</HorizontalCoordinateReferenceSystemDatumName><VerticalMeasure><MeasureValue>7000.00</MeasureValue><MeasureUnitCode>feet</MeasureUnitCode></VerticalMeasure><VerticalAccuracyMeasure><MeasureValue>15</MeasureValue><MeasureUnitCode>feet</MeasureUnitCode></VerticalAccuracyMeasure><VerticalCollectionMethodName>Unknown.</VerticalCollectionMethodName><VerticalCoordinateReferenceSystemDatumName>NGVD29</VerticalCoordinateReferenceSystemDatumName><CountryCode>US</CountryCode><StateCode>08</StateCode><CountyCode>107</CountyCode></MonitoringLocationGeospatial></MonitoringLocation></Organization></WQX>
  recorded_at: Tue, 10 Apr 2018 22:18:41 GMT
recorded_with: VCR 4.0.0
