---
http_interactions:
- request:
    method: get
    uri: https://www.waterqualitydata.us/Station/search?huc=13010002&state=US:08
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=station.xml
      Total-Site-Count:
      - '767'
      Nwis-Site-Count:
      - '471'
      Storet-Site-Count:
      - '296'
      Content-Type:
      - application/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: '<?xml version="1.0" encoding="UTF-8"?><WQX xmlns=''http://qwwebservices.usgs.gov/schemas/WQX-Outbound/2_0/''
        xmlns:xsi=''http://www.w3.org/2001/XMLSchema-instance'' xsi:schemaLocation=''http://qwwebservices.usgs.gov/schemas/WQX-Outbound/2_0/
        http://qwwebservices.usgs.gov/schemas/WQX-Outbound/2_0/index.xsd''><Organization><OrganizationDescription><OrganizationIdentifier>USGS-CO</OrganizationIdentifier><OrganizationFormalName>USGS
        Colorado Water Science Center</OrganizationFormalName></OrganizationDescription><MonitoringLocation><MonitoringLocationIdentity><MonitoringLocationIdentifier>USGS-08220500</MonitoringLocationIdentifier><MonitoringLocationName>PINOS
        CREEK NEAR DEL NORTE, CO.</MonitoringLocationName><MonitoringLocationTypeName>Stream</MonitoringLocationTypeName><HUCEightDigitCode>13010002</HUCEightDigitCode><DrainageAreaMeasure><MeasureValue>53</MeasureValue><MeasureUnitCode>sq
        mi</MeasureUnitCode></DrainageAreaMeasure></MonitoringLocationIdentity><MonitoringLocationGeospatial><LatitudeMeasure>37.5916708</LatitudeMeasure><LongitudeMeasure>-106.4500382</LongitudeMeasure><HorizontalAccuracyMeasure><MeasureValue>5</MeasureValue><MeasureUnitCode>seconds</MeasureUnitCode></HorizontalAccuracyMeasure><HorizontalCollectionMethodName>Interpolated
        from MAP.</HorizontalCollectionMethodName><HorizontalCoordinateReferenceSystemDatumName>NAD83</HorizontalCoordinateReferenceSystemDatumName><VerticalMeasure><MeasureValue>8480.00</MeasureValue><MeasureUnitCode>feet</MeasureUnitCode></VerticalMeasure><VerticalAccuracyMeasure><MeasureValue>15</MeasureValue><MeasureUnitCode>feet</MeasureUnitCode></VerticalAccuracyMeasure><VerticalCollectionMethodName>Unknown.</VerticalCollectionMethodName><VerticalCoordinateReferenceSystemDatumName>NGVD29</VerticalCoordinateReferenceSystemDatumName><CountryCode>US</CountryCode><StateCode>08</StateCode><CountyCode>105</CountyCode></MonitoringLocationGeospatial></MonitoringLocation><MonitoringLocation><MonitoringLocationIdentity><MonitoringLocationIdentifier>USGS-08220900</MonitoringLocationIdentifier><MonitoringLocationName>SAN
        FRANCISCO CREEK AT UPPER STA. NR DEL NORTE, CO</MonitoringLocationName><MonitoringLocationTypeName>Stream</MonitoringLocationTypeName><HUCEightDigitCode>13010002</HUCEightDigitCode><DrainageAreaMeasure><MeasureValue>11.8</MeasureValue><MeasureUnitCode>sq
        mi</MeasureUnitCode></DrainageAreaMeasure></MonitoringLocationIdentity><MonitoringLocationGeospatial><LatitudeMeasure>37.5788929</LatitudeMeasure><LongitudeMeasure>-106.3703134</LongitudeMeasure><SourceMapScaleNumeric>24000</SourceMapScaleNumeric><HorizontalAccuracyMeasure><MeasureValue>5</MeasureValue><MeasureUnitCode>seconds</MeasureUnitCode></HorizontalAccuracyMeasure><HorizontalCollectionMethodName>Interpolated
        from MAP.</HorizontalCollectionMethodName><HorizontalCoordinateReferenceSystemDatumName>NAD83</HorizontalCoordinateReferenceSystemDatumName><VerticalMeasure><MeasureValue>8930</MeasureValue><MeasureUnitCode>feet</MeasureUnitCode></VerticalMeasure><VerticalAccuracyMeasure><MeasureValue>10</M[...]
