<%= render partial: 'layouts/base_banner' %>

<div class="max-width-5 mx-auto top-90 mid-nav">
  <div class="clearfix">
    <%= link_to image_tag('logo.png', :border => 0, :alt => '', :title => ''), root_path %>
  </div>
</div>
