<nav>
  <div class="max-width-5 mx-auto top-90 bottom-nav">
      <div class="nav-buttons-container">
        <div class="">
          <%= link_to 'Dashboard', user_path(current_user.slug) %>
        </div>
        <div class="">
          <%= link_to "Stations Index", stations_path %>
        </div>
        <div class="">
          <%= link_to "Station Search", search_index_path %>
        </div>
        <div class="">
          Recent Searches
        </div>
        <div class="">
          Providers
        </div>
        <div class="">
          About Us
        </div>
    </div>
  </div>
</nav>
