<nav>
  <div class="max-width-5 mx-auto top-90 bottom-nav">
      <div class="nav-buttons-container">
        <div>
          <%= link_to "About Us", root_path %>
        </div>
        <div>
          <%= link_to "Providers", providers_path %>
        </div>
        <div></div>
        <div></div>
        <div></div>
    </div>
  </div>
</nav>
